.wrapper
  = render partial: "groups/sidebar"
  .main
    .header
      .header-left
        %p.header-left__current-group
          current_group_name
        %p.header-left__current-group-members
          Members:current_group_members
      .header-right
        %a.header-right__header-right__edit-btn
          Edit
    .messages
      = render @messages #render partial: 'message', collection: @messagesと同義
    .form
      %form
        .input-box
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'input-left', placeholder: 'type a message'
            .input_left
              = f.label :image, class: 'input-left__icon' do
                %i.fa.fa-image
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'submit-btn'
