.wrapper
  = render partial: "shared/sidebar"
  .main
    .header
      .header-left
        %p.header-left__current-group
          = @group.name
        %p.header-left__current-group-members
          %span Members:
          - @group.group_users.each do |group_user|
            = group_user.user.name
      .header-right
        %a.header-right__header-right__edit-btn
          Edit
    .messages
      = render @messages #render partial: 'message', collection: @messagesと同義
    .form
      .input-box
        = form_for [@group, @message], html: { class:'js-form' } do |f|
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__mark' do
            %i.fa.fa-image
            = f.file_field :image, class: 'input-box__link'
          = f.submit 'Send', class: 'input-box__btn'
