.sidebar
  .header
    .user-info
      %p.user-info__name
        = current_user.name
      %ul.user-info__menu
        = link_to new_group_path do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog
  .groups
    .groups-info
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          %a
            %p.groups-info__groups-name
              = group.name
            %p.groups-info__new-message
              メッセージはまだありません。

