.sidebar
  .header
    .user-info
      %p.user-info__name
        = current_user.name
      %ul.user-info__menu
        = link_to new_group_path do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog
  .groups
    - current_user.groups.each do |group|
      .groups-info
        = link_to group_messages_path(group) do
          %p.groups-info__groups-name
            = group.name
          %p.groups-info__new-message
            = group.show_last_message
            / 最新のメッセージについて、文章が投稿されている場合、画像が投稿されている場合、まだ投稿がされていない場合が考えられます。かといって、ビュー部分にif、while、caseなどを用いて条件分岐を書いてしまうと、ビューのコードが複雑になってしまい、読みづらくなってしまいます。このような場合には、モデルにインスタンスメソッドを定義することで、ビューの記述をシンプルにすることができます。

